<div 
  class="game-frame" 
  data-controller="game" 
  data-game-armies-value=<%= @armies.to_json %> 
  data-game-current-user-value='<%= current_user.id %>'
  data-game-turn-user-value='<%= @game.turn.id %>'
  data-game-game-id-value='<%= @game.id %>'
>
  <div class="game-score">
    <% @armies.each_with_index do |(player, squad), index| %>
      <div 
        class="game-score-player <%= index == 0 ? "player-left" : "player-right" %> <%= squad['turn'] ? "player-turn" : "" %> "
        data-game-target="score"
        data-user='<%= player %>'
        >
        <p>Player <%= index + 1 %>: <span><%= player %></span></p>
        <ul class="list-inline m-0">
          <% squad['army'].each do |soldier| %>
            <li class="list-inline-item m-0" id="life-<%= soldier['name']%>" style="color: #<%= squad['color'] %>">
              <i class="fa-solid fa-hand-fist"></i>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <% if false %>
      <% @armies.each do |player, squad| %>
      <p><%= player %>: <%= squad['color'] %> - <%= squad['army'].map { |soldier| [soldier['name'], soldier['category']]} %></p>
      <% end %>
    <% end %>
  </div>
  <div class="game-setting">
    <ul class="game-setting-menu" data-game-target="settingMenu">
      <li><%= link_to "Profil", game_path(@game) %></li>
      <li><%= link_to "Game menu", game_path(@game) %></li>
    </ul>
    <a href="#" data-action="click->game#openSetting:prevent"><i class="fa-solid fa-gear"></i></a>
  </div>
  <div class="game-ctrl">
    <a data-game-target="fight" class="game-ctrl-fight active" href="#" data-action="click->game#fight:prevent" >Fight ⚡️</a>
    <div data-game-target="move" class="game-ctrl-msg active">
      <p>Your turn! <i class="fa-solid fa-arrows-up-down-left-right"></i></p>
      <a href="#" data-action="click->game#nextTurn:prevent" >Continue to attack <i class="fa-solid fa-bolt"></i></a>
    </div>
    <div data-game-target="attack" class="game-ctrl-msg">
      <p>Time to attack! <i class="fa-solid fa-bolt"></i></p>
      <a href="#" data-action="click->game#nextTurn:prevent" >Next player <i class="fa-solid fa-forward"></i></a>
    </div>
    <div data-game-target="defense" class="game-ctrl-msg">
      <p>Defense time! <i class="fa-solid fa-shield-halved"></i></p>
      <span class="inactive">Wait for your turn...</span>
    </div>
  </div>
</div>